NEXT_PUBLIC_FB_API_KEY=
NEXT_PUBLIC_FB_AUTH_DOMAIN=your-project-id.firebaseapp.com
NEXT_PUBLIC_FB_PROJECT_ID=your-project-id
NEXT_PUBLIC_FB_STORAGE_BUCKET=your-project-id.appspot.com
NEXT_PUBLIC_FB_APP_ID=
